{{!-- The following component displays Ember's default welcome message. --}}

<h1 style="font-family:'Kunstler Script'; font-size:100px;color:blue"s>Application TD0</h1>

{{!-- Feel free to remove this! --}}

{{outlet}}