<h2 style="font-family:'Old English Text MT'; font-size:60px;color:springgreen">Utilisateur</h2>
{{input value=this.user
        placeholder="Entrez votre nom..."}}
<div>Vous avez saisi : {{user}}</div>
{{input value=this.user
        placeholder="Entrez aussi votre nom..."}}
{{outlet}}