<div class="ui container" style="padding-top:100px">
<form class="ui form segment">
  <div class="field">
    <label>Identity</label>
    <input placeholder="Enter identity" name="id" type="text">
  </div>
  <button class="ui green submit button" {{action "routes/developers/new"}}>Validate</button>
</form>
</div>
{{outlet}}